*.class
*.idea
*.iml 
# Package Files #
*.jar
*.war
*.ear
 
# ignore Maven generated target folders
target
 
# ignore eclipse files
.project
.classpath
.settings
.metadata

.DS_Store
.idea/*
/out/
.idea_modules/
/eclipse
.project
.settings
.classpath
/target/*
/bin/
vip-front-client/node_modules
atme-manager-controller/src/main/resources/public
vip-front-client/npm-debug.log
.vscode/
atme-product-controller/
atme-product-front/node_modules/meow/node_modules/
atme-product-front/node_modules/
atme-ydjq-front/node_modules/
